form{
    width: inherit;
    height: 20rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    background-color: #fff;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}
.label_description{
    color: #212529;
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}
.description > input{
    padding: 0.813rem 0 0.813rem 1rem;
    color: #868E96;
    font-weight: 400;
    font-size: 1rem;
    background: #F8F9FA;
    border: 2px solid #F8F9FA;
    border-radius: 8px;
    height: 2rem;
}
.description > span{
    margin-top: 0.25rem;
    margin-bottom: 1.125rem;
    font-size: 0.75rem;
    color: #868E96;
    font-weight: 400;
}
.values{
    display: flex;
    width: 100%;
    margin-bottom: 1.188rem;
    justify-content: center;
}
.value, .type{
    display: flex;
    flex-direction: column;
}
.value{
    width: 40%;
    margin-right: 2.25rem;
}
.value > label, .type > label {
    font-size: 0.75rem;
    color: #212529;
    font-weight: 400;
}
.value > input {
    padding: 0.6rem 0 0.6rem 1rem;
    margin-top: 0.563rem;
    /* width: 8rem; */
    height: 1.6rem;
}
.type > select{
    padding: 0.6rem 0 0.6rem 1rem;
    margin-top: 0.563rem;
    height: 3rem;
    /* width: 8rem; */
}
.btn__insert{
    height: 3rem;
    width: 90%;
    cursor: pointer;
    background: #FD377E;
    border: 2px solid #FD377E;
    border-radius: 8px;
    color: #fff;
}
@media (min-width: 1024px) {
    form{
        height: 351px;
    }
    .description{
        margin-top: 0;
        padding: 38px 24px 24px 26px;
    }
    .values{
        padding: 0 24.5px;
    }
    .value{
        width: 128px;
        margin-right: 36px;
    }
    .btn__insert{
        margin-bottom: 38px;
    }
}