.list__transactions{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.filters{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.filters > h3 {
    color: #212529;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
}
.allTransaction, .entryTransaction{
    margin-right: 0.2rem;
}
.exitTransaction, .entryTransaction, .allTransaction{
    cursor: pointer;
    color: #343A40;
    font-weight: 600;
    padding: 0.656rem 0.938rem;
    border: 1.4px solid transparent;
    border-radius: 8px;
    font-size: 13px;
    line-height: 1.188rem;
}
.exitTransaction:hover, .entryTransaction:hover, .allTransaction:hover{
    color: #fff;
    background: #FD377E;
    border: 1.4px solid #FD377E;
    border-radius: 8px;
}

@media (min-width: 1024px){
    .list__transactions{
        padding: initial;
    }
    .filters{
        flex-direction: row;
    }
    .allTransaction, .entryTransaction{
        margin-right: 1rem;
    }
}