main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 15px;
}
.form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  main{
    padding: 0 100px;
    flex-direction: row;
    width: initial;
  }
  .form{
    width: initial;
    margin-right: 58px;
  }
}
